In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import matplotlib.pyplot as plt

# UNData API Exercise

In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs instead of downloading csv files.

You'll make use of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the [Basic Call Structure article](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581).

#### 1. Use the API to get all available data for the GDP per capita, PPP (constant 2021 international $) indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [5]:
url_input = 'NY.GDP.PCAP.PP.KD'

params = {
    'format' : 'json',
    'per_page' : '20000'
}

endpoint = f'https://api.worldbank.org/v2/country/all/indicator/{url_input}'

response = requests.get(endpoint, params=params)
resp = response.json()
gdp_df = pd.json_normalize(resp[1])
gdp_df.head(2)
gdp_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2022,3974.244214,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2021,3933.580905,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2020,3861.068816,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17286,ZWE,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17287,ZWE,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17288,ZWE,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe
17289,ZWE,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZW,Zimbabwe

#### 2. Now, use the API to get all available data for Life expectancy at birth, total (years). This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [7]:
url_input = 'SP.DYN.LE00.IN'

params = {
    'format' : 'json',
    'per_page' : '20000'
}

endpoint = f'https://api.worldbank.org/v2/country/all/indicator/{url_input}'

response = requests.get(endpoint, params=params)
resp = response.json()
le_df = pd.json_normalize(resp[1])
le_df.head(2)
le_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2023,65.146291,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2022,64.487020,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2021,62.979999,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2020,63.766484,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17285,ZWE,1964,55.431000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17286,ZWE,1963,54.942000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17287,ZWE,1962,54.453000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17288,ZWE,1961,53.966000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
17289,ZWE,1960,53.492000,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe

In [8]:
#instructor's code
country = "all"
indicator = "NY.GDP.PCAP.PP.KD"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json"
}

response = requests.get(URL, params = params)
total = response.json()[0]['total']

params = {
    "format": "json",
    "per_page": total#,
#    'page' : 2
}

response = requests.get(URL, params = params)

gdp_per_capita = pd.json_normalize(response.json()[1])
gdp_per_capita = gdp_per_capita.rename(columns = {'value': 'gdp_per_capita'})
gdp_per_capita.head(2)

,countryiso3code,date,gdp_per_capita,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern

#### 3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [10]:
le_df["date"] = pd.to_numeric(le_df["date"], errors="coerce") #converting data type of the date column to integers->le_df.dtypes to check types

In [11]:
le_df_drop = (
    le_df
    .drop(columns=['unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value', 'countryiso3code', 'country.id'])
    .rename(columns={
        'value': 'life_expectancy', 
        'country.value':'country_name', 
        'date': 'year'})
)
le_df.head(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2023,65.146291,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern

In [12]:
gdp_df["date"] = pd.to_numeric(gdp_df["date"], errors="coerce")

In [13]:
gdp_df_drop = (
    gdp_df
    .drop(columns=['unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value', 'country.id'])
    .rename(columns={
        'countryiso3code': 'country_code', 
        'value': 'gdp_per_capita', 
        'country.value':'country_name', 
        'date':'year'})
)
gdp_df.head(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern

In [14]:
le_gdp_df = pd.merge( 
    left = gdp_df_drop, 
    right = le_df_drop, 
    validate = 'many_to_one',
    how = 'outer',
)
le_gdp_df.head(2)

,country_code,year,gdp_per_capita,country_name,life_expectancy
0,AFG,1960,NaN,Afghanistan,32.799000
1,AFE,1960,NaN,Africa Eastern and Southern,44.169658

In [15]:
le_gdp_df.tail(2)

      country_code  year  gdp_per_capita country_name  life_expectancy
17288          ZMB  2024     3716.037353       Zambia              NaN
17289          ZWE  2024     3450.129708     Zimbabwe              NaN

#### 4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the [Country API](https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries). Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [17]:
endpoint = f'https://api.worldbank.org/v2/country'
params = {
    'format' : 'json',
    'per_page' : '20000'
}

response = requests.get(endpoint, params=params)
resp = response.json()
country_api = pd.json_normalize(resp[1])
country_api.head(2)
country_api

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,"Middle East, North Africa, Afghanistan & Pakistan",MNA,XQ,"Middle East, North Africa, Afghanistan & Pakis...",LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [18]:
country_api_drop = (
    country_api
    .rename(columns={
        'id': 'country_id', 
        'name':'country_name', 
        'capitalCity':'capital_city', 
        'region.id': 'region_id', 
        'incomeLevel.id':'income_level_id', 
        'region.value':'region_value', 
        'incomeLevel.value': 'income_level'
    })
    .drop(['iso2Code', 'region.iso2code', 'lendingType.iso2code', 'adminregion.id', 'adminregion.iso2code', 'adminregion.value', 'incomeLevel.iso2code', 'lendingType.id', 'lendingType.value'], axis=1)
)
country_api.head(2)

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates

In [19]:
country_api_drop['income_level'].unique()

array(['High income', 'Aggregates', 'Low income', 'Lower middle income',
       'Upper middle income', 'Not classified'], dtype=object)

In [20]:
le_gdp_df.head(2)

,country_code,year,gdp_per_capita,country_name,life_expectancy
0,AFG,1960,NaN,Afghanistan,32.799000
1,AFE,1960,NaN,Africa Eastern and Southern,44.169658

In [21]:
country_api_drop.head(2)

,country_id,country_name,capital_city,longitude,latitude,region_id,region_value,income_level_id,income_level
0,ABW,Aruba,Oranjestad,-70.0167,12.5167,LCN,Latin America & Caribbean,HIC,High income
1,AFE,Africa Eastern and Southern,,,,NA,Aggregates,NA,Aggregates

In [22]:
country_api_drop.columns

Index(['country_id', 'country_name', 'capital_city', 'longitude', 'latitude',
       'region_id', 'region_value', 'income_level_id', 'income_level'],
      dtype='object')

In [23]:
country_api_limited = country_api_drop[(country_api_drop['income_level'] != 'Aggregates')]
country_api_limited.head(2)

,country_id,country_name,capital_city,longitude,latitude,region_id,region_value,income_level_id,income_level
0,ABW,Aruba,Oranjestad,-70.0167,12.5167,LCN,Latin America & Caribbean,HIC,High income
2,AFG,Afghanistan,Kabul,69.1761,34.5228,MEA,"Middle East, North Africa, Afghanistan & Pakistan",LIC,Low income

In [24]:
le_gdp_df.head(2)

,country_code,year,gdp_per_capita,country_name,life_expectancy
0,AFG,1960,NaN,Afghanistan,32.799000
1,AFE,1960,NaN,Africa Eastern and Southern,44.169658

In [25]:
le_gdp_lm_df = pd.merge( 
    left = le_gdp_df, 
    right = country_api_limited, 
    validate = "many_to_one",
    how = 'inner'
)
le_gdp_lm_df.head(2)

,country_code,year,gdp_per_capita,country_name,life_expectancy,country_id,capital_city,longitude,latitude,region_id,region_value,income_level_id,income_level
0,AFG,1960,NaN,Afghanistan,32.799,AFG,Kabul,69.1761,34.5228,MEA,"Middle East, North Africa, Afghanistan & Pakistan",LIC,Low income
1,ALB,1960,NaN,Albania,56.413,ALB,Tirane,19.8172,41.3317,ECS,Europe & Central Asia,UMC,Upper middle income

## Bonus Questions: After doing a basic request to get all records, you can attempt these exercises to get additional practice using query parameters.

### 1. Adjust your request so that it returns data just for the United States.

In [28]:
codes = 'NY.GDP.PCAP.PP.KD'
country_input = 'usa'
params = {
    'format' : 'json',
    'per_page' : '20000'
}

def data_pull(*args) :
    endpoint = f'https://api.worldbank.org/v2/country/{country_input}/indicator/{codes}'
    response = requests.get(endpoint, params=params)
    resp = response.json()
    gdp_df = pd.json_normalize(resp[1])
    return gdp_df 

data_pull(url_input, country_input).head(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2024,75491.608435,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
1,USA,2023,74158.716417,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

#### 2. Adjust your request so that it returns data just for the United States for the year 2021.

In [30]:
url_call = 'NY.GDP.PCAP.PP.KD'
country_abrv = 'usa'

def dynamic_country_caller(*args) :
    endpoint = f'https://api.worldbank.org/v2/country/{country_abrv}/indicator/{url_call}'
    response = requests.get(endpoint, params=params)
    resp = response.json()
    this = pd.json_normalize(resp[1])
    return this 

dynamic_country_caller(country_abrv, url_call).head(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2024,75491.608435,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
1,USA,2023,74158.716417,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

In [31]:
specific_portion = 'SP.DYN.LE00.IN'
country_call = 'usa'
year = 1986
params = {
    'format' : 'json',
    'per_page' : '20000'
}

def dynamic_country_caller(*args, year=None) :
    date = f'/?date={year}'
    endpoint = f'https://api.worldbank.org/v2/country/{country_call}/indicator/{specific_portion}{date}'
    response = requests.get(endpoint, params=params)
    resp = response.json()
    res = pd.json_normalize(resp[1])
    return res 

dynamic_country_caller(specific_portion, country_call, year=2021)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,76.329268,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States

#### 3. Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

In [33]:
range_ending = 'SP.DYN.LE00.IN'
country_call = 'usa'
start_date=2000 
end_date=2021
params = {
    'format' : 'json',
    'per_page' : '20000'
}

def country_date_range(*args):#, year=None) :
    if year == None :
        endpoint = f'https://api.worldbank.org/v2/country/{country_call}/indicator/{range_ending}'
    else :
        date = f'?date={start_date}:{end_date}'
        endpoint = f'https://api.worldbank.org/v2/country/{country_call}/indicator/{range_ending}{date}'
    response = requests.get(endpoint, params=params)
    resp = response.json()
    res = pd.json_normalize(resp[1])
    return res 

country_date_range().head(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,76.329268,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
1,USA,2020,76.980488,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States

#### 4. Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

In [35]:
ending = 'SP.DYN.LE00.IN'
first_country = 'usa'
second_country = 'can'
start_date=2000
end_date=2021
params = {
    'format' : 'json',
    'per_page' : '20000'
}

def multi_country_pull(*args, year=None):        
    date = f'?date={start_date}:{end_date}'
    endpoint = f'https://api.worldbank.org/v2/country/{first_country};{second_country}/indicator/{ending}{date}'
    response = requests.get(endpoint, params=params)
    resp = response.json()
    res = pd.json_normalize(resp[1])
    return res 

multi_country_pull().head(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,CAN,2021,81.516829,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",CA,Canada
1,CAN,2020,81.535122,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",CA,Canada

In [36]:
multi_country_pull().tail(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
42,USA,2001,76.836585,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
43,USA,2000,76.636585,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States

In [37]:
ending_input = 'NY.GDP.PCAP.PP.KD'

url_plus_ending = f'https://api.worldbank.org/v2/country/all/indicator/{ending_input}'

params = {
    'format' : 'json',
    'per_page' : '20000'
}

response = requests.get(endpoint, params=params)
resp = response.json()
gdp_df = pd.json_normalize(resp[1])
gdp_df.head(2)

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates

In [38]:
url_input = 'NY.GDP.PCAP.PP.KD'

endpoint = f'https://api.worldbank.org/v2/country/all/indicator/{url_input}'

params = {
    'format' : 'json',
    'per_page' : '20000'
}

response = requests.get(endpoint, params=params)
resp = response.json()
gdp_df = pd.json_normalize(resp[1])
gdp_df.head(2)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,3968.963751,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3948.142721,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern